.root {
  position: relative;
  .searchLogo {
    position: absolute;
    top: 13px;
    left: 5px;
    cursor: pointer;
    opacity: 0.4;
  }
  .clear {
    position: absolute;
    top: 13px;
    right: 10px;
    cursor: pointer;
    opacity: 0.4;
    &:hover {
      opacity: 0.8;
    }
  }
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.2);

  padding: 12px 20px;
  padding-left: 42px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 1.5);
    box-shadow: rgba(0, 0, 0, 0.5);
  }
}
